body{
	background-color: rgb(21, 24, 31);
	margin: 0px; 
}

#nav
{
    display: flex;
    background-color: black;
	justify-content: space-around;
	 

}

.accueil{
	color: rgb(5, 227, 56);
	background-color: black;
	backface-visibility: 0.6;
	/* width: 315px;
	height: 40px; */
	font-size: 30px;
	color: white;
	text-align: center;
}

.boutique{
	color: rgb(5, 227, 56);
	background-color: black;
	backface-visibility: 0.6;
	/* width: 315px;
	height: 40px; */
	font-size: 30px;
	color: white;
	text-align: center;
}

.commandes{
	color: rgb(5, 227, 56);
	background-color: black;
	backface-visibility: 0.6;
	/* width: 315px;
	height: 40px; */
	font-size: 30px;
	color: white;
	text-align: center;
}

.bot{
	color: rgb(5, 227, 56);
	background-color: black;
	backface-visibility: 0.6;
	/* width: 315px;
	height: 40px; */
	font-size: 30px;
	color: white;
	text-align: center;
}

.soulignement{
	text-decoration: none;
}

.connexion{
	color: rgb(5, 227, 56);
	background-color: black;
	backface-visibility: 0.6;
	/* width: 315px;
	height: 40px; */
	font-size: 30px;
	color: white;
	text-align: center;
}

.inscription{
	color: rgb(5, 227, 56);
	background-color: black;
	backface-visibility: 0.6;
	/* width: 315px;
	height: 40px; */
	font-size: 30px;
	color: white;
	text-align: center;
}

.bienvenue{
	margin-top: 150px;
	font-size: 35px;
	color: rgb(237, 232, 232);
	margin-left: 100px;
}

.pub{
	color: rgb(150, 146, 146);
	font-size: 25px;
	margin-left: 100px;
}

.img{
	float: right;
    margin-right: 250px;
}

.bouton{
	background-color: rgb(44, 52, 83);
	color: white;
	height: 20px;  
	width: 150px;
	border: rgb(44, 52, 83) solid;
	border-radius: 100px;
    margin-left: 100px;
    text-align: center;

}

.disc{
	margin-left: 200px;
}

.footer{
	background-color: black;
	padding: 0px;
	margin: 0px; 
	height: 300px;
	margin-top: 200px;
	border-top:1px solid white;
	
	

}

.copyright{
	color: grey;
	text-align: center;
	margin-top: 180px;

}

.remi{

	color: white;
	display: flex;
	justify-content: space-around;
	margin-top: 20px;
	font-size: 20px;
}

.remi2{
	color: grey;
	display: flex;
	
	margin-top: 40px;
	

}

.condition{
	margin-left: 8%;

}

.supporta{

	margin-left: 18.5%;

}

.email{
	margin-left: 20%;
}

.dispo{
	margin-left: 14%;
}

