ErrorDocument 400 /dashboard/404.php
ErrorDocument 401 /dashboard/404.php
ErrorDocument 402 /dashboard/404.php
ErrorDocument 403 /dashboard/404.php
ErrorDocument 404 /dashboard/404.php
ErrorDocument 405 /dashboard/404.php
ErrorDocument 406 /dashboard/404.php
ErrorDocument 407 /dashboard/404.php
ErrorDocument 408 /dashboard/404.php
ErrorDocument 409 /dashboard/404.php
ErrorDocument 410 /dashboard/404.php
ErrorDocument 411 /dashboard/404.php
ErrorDocument 412 /dashboard/404.php
ErrorDocument 413 /dashboard/404.php
ErrorDocument 414 /dashboard/404.php
ErrorDocument 415 /dashboard/404.php
ErrorDocument 500 /dashboard/404.php
ErrorDocument 501 /dashboard/404.php
ErrorDocument 502 /dashboard/404.php
ErrorDocument 503 /dashboard/404.php
ErrorDocument 504 /dashboard/404.php
ErrorDocument 505 /dashboard/404.php
