/**
!========================================
*               Variables
!========================================
*/

$primary: #2196f3;
$secondary: #999999;
$primary-dark: darken($primary, 10%);
$secondary-dark: darken($secondary, 25%);

$blue: #2196f3 !default;
$indigo: #6610f2 !default;
$purple: #6f42c1 !default;
$pink: #e83e8c !default;
$red: #dc3545 !default;
$orange: #fd7e14 !default;
$yellow: #ffc107 !default;
$green: #28a745 !default;
$teal: #20c997 !default;
$cyan: #17a2b8 !default;

$white: #ffffff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-AAA: #aaaaaa !default;
$gray-600: #6c757d !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-333: #333333 !default;
$gray-900: #212529 !default;
$gray-222: #222222 !default;
$gray-202: #202020 !default;
$gray-1B1: #1b1b1b !default;
$gray-111: #111111 !default;
$gray-090: #090909 !default;
$black: #000000 !default;

$colors: () !default;
$colors: map-merge(("blue": $blue,
    "indigo": $indigo,
    "purple": $purple,
    "pink": $pink,
    "red": $red,
    "orange": $orange,
    "yellow": $yellow,
    "green": $green,
    "teal": $teal,
    "cyan": $cyan,
    "white": $white,
    "gray": $gray-600,
    "gray-dark": $gray-800,
    "primary": $primary,
    "secondaty": $secondary,
    "primary-dark": $primary-dark,
    "secondary-dark": $secondary-dark),
  $colors);

$grays: () !default;
$grays: map-merge(("AAA": $gray-AAA,
    "000": $white,
    "090": $gray-090,
    "1B1": $gray-1B1,
    "100": $gray-100,
    "111": $gray-111,
    "200": $gray-200,
    "202": $gray-202,
    "222": $gray-222,
    "300": $gray-300,
    "333": $gray-333,
    "400": $gray-400,
    "500": $gray-500,
    "600": $gray-600,
    "700": $gray-700,
    "800": $gray-800,
    "900": $gray-900,
    "999": $black,
  ),
  $grays);

$body-bg: $gray-111;

a {
  color: $primary
}

a:hover {
  color: #82c4f8;
}