/**
!========================================
*                 Part
!========================================
*/

.main-row {
    display: flex;
    flex-wrap: wrap;
}

.part- {

    &menulink {
        a {
            font-size: 1.2rem;
        }

        font-weight: bolder;
        color: $primary;
        text-transform: uppercase;
        padding-bottom: 16px;
    }

    &topbar {
        max-height: 48px;

        &-title {
            display: inline-block;
            padding: 0 16px;
            text-decoration: none;
            color: #ffffff;
            font-size: 1.1rem;

            &.a-title {
                background: $primary !important;
            }

            &.a-title:hover {
                background: darken($primary, 10%) !important;
                transition: 0.3s;
            }

            &:hover {
                background: $gray-090;
                transition: 0.3s;
            }
        }
    }

    &searchbar {
        padding: 16px;
        min-height: 54px;

        .input {
            min-height: 28px;
            display: block;
            padding: 3px 2px;
            border: none;
            border-bottom: 1px solid #aaa;
            -webkit-transition: border-color .3s;
            transition: border-color .3s;
            background: #333;
            color: #fff;
            font-family: Roboto, Source Sans Pro, Calibri, Arial, sans-serif;
            font-size: .85rem;
            line-height: 1;

            &:focus {
                border-color: #2196f3;
                outline: none
            }
        }

        .select {
            display: inline-block;
            background: #333;
            color: #fff;
            font-family: Roboto, Source Sans Pro, Calibri, Arial, sans-serif;
            font-size: .85rem;
            border: 1px solid #aaa;
        }
    }

    &mainsite {

        min-height: 100%;

        @media (max-width:576px) {
            min-height: calc(100% - 130px);
        }

        @media (min-width:576px) {
            min-height: calc(100% - 102px);
        }

        padding-top: 16px;
        padding-bottom: 16px;

    }

    &footers {
        padding: 16px;
        min-height: 54px;
        transition: color .3s, border-color .3s, background-color .3s;
        text-align: center;

        a {
            font-weight: bolder;
            text-decoration: none;
            color: #888888;

            &:hover {
                color: #a2a2a2;
                text-decoration: underline
            }

        }

        a.button {
            display: inline-block;
            padding: 8px 6px;
            border-radius: 4px;
            background: #2196f3;
            color: #fff;
            font-size: .9rem;
            text-decoration: none;
            font-weight: 100;
            font-family: Roboto,Source Sans Pro,Calibri,Arial,sans-serif;
        }

    }

    &docs {
        min-height: calc(100% - 131px);


        @media (min-width: 768px) {
            padding: 16px 32px;
        }

        @media (max-width: 768px) {
            height: 100%;
            padding: 16px 5px;
        }

        @media (max-width: 320px) {
            height: 100%;
            padding: 16px 0;
        }

    }

    &sidebar {
        min-height: calc(100% - 131px);

        @media (min-width: 768px) {
            border-right: 1px solid #202020;
        }

        @media (max-width: 768px) {
            border-top: 1px solid #202020;
            padding-top: 15px;
        }

        .ico {
            float: right;
            right: 10px;
            color: white;
            padding: 3px;
            cursor: pointer;
        }

        .ul {
            text-transform: uppercase;
            font-size: 1rem;
            font-weight: 700;
            color: #dbdbdb;
        }

        .ul-men {
            text-transform: uppercase;
            font-size: 1.5rem;
            font-weight: 700;
            color: #ababab;
            margin-bottom: 7px;
        }

        .li {
            padding: 4px 32px 4px 4px;
            display: block;
            padding: 4px 32px 4px 4px;
            color: inherit;
            text-decoration: none;
            border-left: 2px solid rgba(33, 150, 243, 0);
            transition:
                display 1s,
                visibility 0.3s,
                opacity 0.3s,
                color .3s,
                border-color .3s,
                background-color .3s;
            color: #999;
            font-size: .8rem;

            &:hover {
                color: $primary;
                border-color: $primary;
                background: lighten($gray-111, 2%);
                transition: color .3s, border-color .3s, background-color .3s;
                border-top-right-radius: 4px;
                border-bottom-right-radius: 4px;
                border-top-left-radius: 2px;
                border-bottom-left-radius: 2px;
            }
        }

        .li-hid {
            opacity: 0;
            height: 0;
            padding: 0;
        }

        .li-selected {
            background: #1b1b1b;
            border-color: lighten($gray-202, 10%);
        }

    }

    &loading {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1000;
        margin: auto calc(60% - 320px) !important;
        height: auto;
        display: table-cell;
        vertical-align: middle;
        width: 50%;
    }
}

@import "maintext.scss";